<?php

namespace Database\Seeders;

use Illuminate\Database\Seeder;
use PixiiBomb\Core\Database\Seeders\{ThemeSeeder, UserSeeder, UserSettingSeeder, RoleSeeder};

class DatabaseSeeder extends Seeder
{
    /**
     * Seed the application's database.
     */
    public function run(): void
    {
        $this->call([
            RoleSeeder::class,
            UserSeeder::class,
            ThemeSeeder::class,
            UserSettingSeeder::class,
        ]);
    }
}
